body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  background-image: url('https://i.postimg.cc/kgWh7twg/Screenshot-2024-03-12-19-09-07-557-com-microsoft-bing-edit-2-1.jpg');
  background-size: cover;
}

header {
  text-align: center;
  padding: 20px 0;
}

h1 {
  color: #333;
}

main {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: grid;
  grid-gap: 10px;
}

label {
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px; /* slightly rounded edges */
}

textarea {
  resize: vertical;
}

.signup-btn {
  position: relative;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to bottom, #6e48aa, #4b2c7a);
  color: #fff;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px 0;
}

.signup-btn:hover {
  background: linear-gradient(to bottom, #573c87, #36254f);
}

.signup-btn::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  background-size: 200% auto;
  border-radius: 25px 25px 0 0;
  animation: rainbow 1.5s infinite;
}

.login-btn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 25px;
  background-color: red; /* Red color */
  color: #fff;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px 0;
}

.login-btn:hover {
  background-color: darkred; /* Darker red color on hover */
}

@keyframes rainbow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
  footer {
  text-align: center;
  margin-top: 20px;
}
}
