body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  text-align: center;
  padding: 20px 0;
}

h1 {
  color: #333;
}

main {
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: grid;
  grid-gap: 10px;
}

label {
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

.signup-btn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 25px; /* Rounded corners */
  background: linear-gradient(
    to bottom,
    #6e48aa,
    #4b2c7a
  ); /* Gradient background */
  color: #fff; /* Text color */
  font-family: Montserrat, sans-serif; /* Font family */
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition */
  margin: 10px 0; /* Single-edge margin */
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Circular shape */
}